// Margins-variables

$margin-zero: 0px;
$margin-x: auto;
$margin-y: 0px;
$mt-5: 5rem;
$ml_-3: -3rem;
$mt_-9: -9rem;


// Paddings-variables

$padding-zero: 0px;
$padding-y: 0px;
$padding-x: 20px;

// Text-sizes-variables

$sm-text-size: 14px;
$md-text-size: 16px;
$lg-text-size: 18px;
$xl-text-size: 20px;
$xxl-text-size: 22px;

// Ofcanvas-styles-variables

$ofcanvas-bg-color: #fff;
$ofcanvas-text-color: #000;
$ofcanvas-width: 335px;
$ofcanvas-height: 910px;

// All bg-color-and-color-width-height-variables

$all-width: 1280px;
$all-height: 910px;
$bg-color: #F2994A;

// Nav-styles-variables

$nav-width: 192.5px;
$nav-height: 438px;
$nav-gap: 38.87px;

// Profile-styles-variables

$profile-width: 292.5px;
$profile-height: 80px;
$profile-gap: 10.6px;
$profile-margin: 10px;
$profile-img-width: 5rem;
$profile-img-height: 100%;
$profile-img-border-radius: 20px;


// Display-styles-variables

$display-none: none;
$display-block: block;
$display-inline: inline;
$display-inline-block: inline-block;
$display-flex: flex;
$display-grid: grid;
$display-inline-grid: inline-grid;
$display-table: table;
$display-table-row: table-row;
$display-table-cell: table-cell;
$display-table-caption: table-caption;


// border-styles-variables

$border-solid: 1px solid;
$border-dashed: 1px dashed;
$border-dotted: 1px dotted;
$border-double: 1px double;
$border-none: none;
$border-hidden: hidden;
$border-collapse: collapse;
$border-separate: separate;

// Border-color-variables

$border-red: red;
$border-green: green;
$border-blue: blue;
$border-black: black;
$border-white: white;
$border-yellow: yellow;
$border-pink: pink;

// Font-family-styles-variables


$font-family-roboto: 'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-sans-serif: sans-serif;

// Line-height-variables

$l-h-10px: 10px;

// Outline-styles-variables

$outline-none: none;
$outline-solid: 1px solid;
$outline-dashed: 1px dashed;
$outline-dotted: 1px dotted;

// Search-box-styles-variables

$search-width: 295px;
$search-height: 29.5px;
$search-bg-color: #f5f5f5;
$search-gap: 8.83px;

// Border-radius-variables

$border-radius-10: 10px;
$border-radius-15: 15px;
$border-radius-20: 20px;

// List-style-type-variables

$list-none: none;
$list-dots: disc;
$list-circle: circle;
$list-square: square;
$list-decimal: decimal;
$list-decimal-leading-zero: decimal-leading-zero;
$list-lower-alpha: lower-alpha;
$list-lower-roman: lower-roman;
$list-upper-alpha: upper-alpha;
$list-upper-roman: upper-roman;
$list-inside: inside;
$list-outside: outside;

// Transparent and none styles-variable

$transparent: transparent;
$none: none;

// Postions-variable

$p-none: none;
$p-relative: relative;
$p-absolute: absolute;

// STYLES START

body{
    background-color: $bg-color;
    max-width: $all-width;
    height: $all-height;

    .offcanvas{
        width: $ofcanvas-width;
        height: $ofcanvas-height;
        background-color: $ofcanvas-bg-color;
        color: $ofcanvas-text-color;
        padding: $padding-x;

        .profile{
            display: $display-flex;
            font-family: $font-family-sans-serif;
            line-height: $l-h-10px;
            width: $profile-width;
            height: $profile-height;
            gap: $profile-gap;

            img{
                width: $profile-img-width;
                height: 100%;
                border: $profile-img-height;
                border-radius: $profile-img-border-radius;
            }
        }

        .navbar{
            margin-top: $mt-5;
            .search-input{
                border-radius: $border-radius-10;
                width: $search-width;
                padding: 20px 10px;
                height: $search-height;
                background: $search-bg-color;
                input{
                    border: $border-none;
                    outline: $outline-none;
                    background: $transparent;
                    font-family: $font-family-sans-serif;
                }
            }

            .list{
                margin-top: $mt-5;
                margin-left: $ml_-3;
                list-style: $list-none;
                line-height: 60px;
                .item{
                    display: $display-block;
                    align-items: center;
                    font-family: $font-family-sans-serif;
                    
                    span{
                        padding-left: 1rem;
                    }
                }
            }
        }
    }

    .list-end{
        margin-top: $mt_-9;
        list-style: $list-none;
        line-height: 60px;
        list-style-type: $list-none;
        .item{
            display: $display-block;
            align-items: center;
            font-family: $font-family-sans-serif;
            
            span{
                padding-left: 1rem;
                .l-d-mode{
                    position: $p-relative;
                    top: .7rem;
                }
            }
        }
    }
}
